.card {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    border-top: 1px solid #EBEBEB;
}

.card__image-wrapper {
    width: 40%;
    display: flex;
    align-items: flex-end;
}

.card__image {
    width: 100%;
    max-width: 62px;
}

.card__content {
    width: 60%;
}

.card__title {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  margin: 0;
  width: 85px;
  padding-left: 29px;
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 11px;
}

.card__table {
    width: 100%;
    padding-left: 26px;
}

.card__column {
  width: 50%;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.card__column:first-child {
    text-align: left;
}

.card__column:last-child {
    text-align: right;
}

.card__button {
  width: 100%;
  max-width: 500px;
  margin: 11px auto 0px 0;
}

.card__link {
    display: block;
    padding: 10px 20px;
    text-align: center;
    background: #68B738;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}








