.card {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    border-top: 1px solid #EBEBEB;
}

.card__image-wrapper {
    width: 40%;
    display: flex;
    align-items: flex-end;
}

.card__image {
    width: 100%;
    max-width: 62px;
}

.card__content {
    width: 50%;
}

.card__title {
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    margin: 0;
    width: 85px;
    text-transform: uppercase;
    padding-top: 30px;
}

.card__table {
    width: 100%;
}

.card__column {
    width: 50%;
}

.card__column:first-child {
    text-align: left;
}

.card__column:last-child {
    text-align: right;
}

.card__button {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.card__link {
    display: block;
    padding: 15px 20px;
    text-align: center;
    background: #68B738;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}








