.copiright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copiright__row {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
}