.example {
  background: #EAEAEA;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 33px 0;
  padding: 27px 20px 0 20px;
}

.example__description {
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 25px 0;
  padding: 0 20px;
}

.example__results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.example__notes {
  margin: 0;
}

.example__notes--style {
  margin: 0 0 34px 0;
  width: 124px;
  border: 1px solid #CDCDCD;
  border-radius: 5px;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.example__notes--style-2 {
  font-size: 14px;
  line-height: 20px;
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 42px 0;
}

.example__notes--style-2 br {
  display: none;
}

.example__little {
  display: block;
  font-size: 12px;
  line-height: 12px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 46px;
  left: 50%;
  width: 87px;
  transform: translateX(-50%);
  z-index: 5;
  background: #EAEAEA;
  color: #444444;
  text-transform: none;
}

@media (min-width: $tablet) {
  .example {
    padding: 0 30px;
    background: white;
  }

  .example__results {
    padding: 0;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    font-family: "Oswald";
    padding: 0;
    margin-bottom: 64px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    width: 680px;
    margin: 0 0 55px 0;
  }

  .example__notes--style {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    margin-right: 39px;
  }

  .example__notes--style-2 {
    font-size: 20px;
    line-height: 26px;
    text-align: right;
    padding-top: 7px;
  }

  .example__notes--style-2 br {
    display: block;
  }

  .example__little {
    background: white;
    width: 135px;
    font-size: 14px;
    line-height: 14px;
    top: 60px;
  }

  .example__little br {
    display: none;
  }
}