.instruction {
  padding: 0 20px;
}

.instruction__title {
  font-size: 36px;
  line-height: 40px;
  margin: 28px 0 41px 0;
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.instruction__item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 25px 0;
  position: relative;
  padding: 0 0 0 80px;
  width: 200px;

  &:last-child {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
  }

  &--leafs::before {
    background: #68B738 url(../img/icon-leaf.svg) no-repeat 50% 50%;
  }

  &--water::before {
    background: #68B738 url(../img/icon-water.svg) no-repeat 50% 50%;
  }

  &--knife::before {
    background: #68B738 url(../img/icon-knife.svg) no-repeat 50% 50%;
  }

  &--time::before {
    background: #68B738 url(../img/icon-time.svg) no-repeat 50% 50%;
  }
}

