.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  width: 24px;
  height: 18px;
  display: block;
  cursor: pointer;
  right: 20px;
  top: -30px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  border-top: 1px solid #E6E6E6;
}


.main-nav__link {
  color: $basic-black;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 22px 0 24px 0;
  font-family: "Oswald-m";
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

@media (min-width: $tablet) {
  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    border: none;
    margin: 0 35px 0 0;
  }

  .main-nav__link {
    padding: 0;
  }
}

