.page-body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-position: top center;
  color: $basic-black;

  min-height: 100%;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}