.page-footer {
  background: #F2F2F2;
  padding: 0 20px;
}

.page-footer__logo {

}

.page-footer__social {
  padding: 20px 0;
  border-bottom: 1px solid #D9D9D9;
}


.page-footer__copyright {
  padding: 28px 0 32px 0;
}