.page-footer {
  background: #F2F2F2;
  padding: 0 20px;
}

.page-footer__logo {
  padding: 36px 0 28px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
}

.page-footer__social {
  padding: 19px 0;
  border-bottom: 1px solid #D9D9D9;
}


.page-footer__copyright {
  padding: 20px 0 32px 0;
}
