.page-header {
  padding-top: 65px;
  position: relative;

  &::after {
    content: '';
    width: 101px;
    height: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    top: 24px;
    background: url(../img/logo-mobile-text.svg) no-repeat 0 0;
  }
}

.page-header__logo {
  position: absolute;
  top: 12px;
  left: 20px;
}

@media (min-width: $tablet) {
  .page-header {
    padding: 24px 30px 0 30px;
    &::after {
      display: none;
    }
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 0;
  }
}


