.page-header {
  padding-top: 50px;
  position: relative;

  &::after {
    content: '';
    width: 101px;
    height: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    top: 10px;
    background: url(../img/logo-mobile-text.svg) no-repeat 0 0;
  }
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 20px;
}

@media (min-width: $tablet) {
  .page-header {
    padding-top: 10px;
    padding-left: 200px;
    &::after {
      display: none;
    }
  }
}


