.promo {
  margin: 0 auto;
  background: url(../img/promo-cat.jpg) no-repeat;
  position: relative;

  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    position: absolute;
    background: rgba(104, 183, 56, 0.85);
  }

  &::after {
    content: "";
    top: 167px;
    left: 20px;
    width: 280px;
    height: 270px;
    position: absolute;
    background: url(../img/promo-cup.png) no-repeat;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  width: 250px;
  margin: 0 auto 25px auto;
  text-align: center;
  color: white;
  padding: 27px 0 0 0;
  position: relative;
}

.promo__subtitle {
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 302px 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
  position: relative;
}

.promo__button {
  margin: 0 20px;
  height: 40px;
  color: white;
  background: #68B738;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  display: block;
}