.promo {
  margin: 0 auto 20px auto;
  position: relative;

  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    position: absolute;
    background: url(../img/green-cat.jpg) no-repeat;
    background-size: cover;
  }

  &::after {
    content: "";
    top: 167px;
    left: 50%;
    width: 280px;
    height: 270px;
    position: absolute;
    background: url(../img/promo-cup-m@1x.png) no-repeat;
    transform: translateX(-50%);

    @media (min-resolution: 2dppx) {
      background: url(../img/promo-cup-m@2x.png) no-repeat;
      background-size: contain;
    }
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  width: 250px;
  margin: 0 auto 25px auto;
  text-align: center;
  color: white;
  padding: 27px 0 0 0;
  position: relative;
}

.promo__subtitle {
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 302px 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
  position: relative;
}

.promo__button {
  margin: 0 20px;
  height: 40px;
  color: white;
  background: #68B738;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  display: block;
}

.promo__button:hover,
.promo__button:focus {
  background-color: #5EAA2F;
}

.promo__button:active {
  color: rgba(255, 255, 255, 0.3);
}


@media (min-width: $tablet) {
  .promo {
    background: $basic-white;
    padding: 64px 0 506px 117px;

    &::before {
      display: none;
    }

    &::after {
      content: "";
      top: 265px;
      left: 50%;
      width: 709px;
      height: 609px;
      position: absolute;
      background: url(../img/promo-cup-t@1x.png) no-repeat;
      transform: translateX(-50%);

      @media (min-resolution: 2dppx) {
        background: url(../img/promo-cup-t@2x.png) no-repeat;
        background-size: contain;
      }
    }
  }

  .promo__title {
    color: black;
    font-size: 60px;
    line-height: 60px;
    width: 500px;
    text-align: left;
    margin: 0 0 42px 0;
    padding: 0;
    z-index: 10;
  }

  .promo__subtitle {
    color: black;
    font-size: 20px;
    line-height: 20px;
    width: 350px;
    text-align: left;
    margin: 0 0 48px 0;
    z-index: 10;
  }

  .promo__button {
    margin: 0 0 0 -5px;
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 54px;
    position: relative;
    z-index: 10;
  }
}