.services {
padding: 0 20px;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 20px 0;
}

.services__title {
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 29px 0;
  align-self: center;
  width: 200px;

}

.services__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 39px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 240px;
    height: 1px;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    background: #D9D9D9;
}
  }

.services__link {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: black;
  margin: 0 0 18px 0;
  display: block;
}