.services {
padding: 0 20px;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 20px 0;
}

.services__title {
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 29px 0;
  align-self: center;
  width: 200px;
  padding: 32px 0 0 12px;
  position: relative;
}

.services__title--little::before {
  content: "";
  top: 23px;
  left: -12px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/cat-icon.svg) no-repeat 0 0;
}

.services__title--big {
  margin: -1px 0 29px 26px;
}

.services__title--big::before {
  content: "";
  top: 26px;
  left: -34px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/panter-icon.svg) no-repeat 0 0;
}

.services__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 43px 0;
  position: relative;
  padding: 0 20px;

  &::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 1px;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    background: #D9D9D9;
   }
  }

.services__description br {
  display: none;
}

.services__link {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: black;
  margin: 0 0 20px 0;
  display: block;
  padding: 0 20px;
  position: relative;

  &::before {
    content: "";
    top: 1px;
    left: 121px;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/line-icon.svg) no-repeat 0 0;
  }
}

@media (min-width: $tablet) {
  .services {
    padding: 0 30px;
  }

  .services__item {
    margin: 0 0 30px 0;
  }

  .services__title {
    font-size: 36px;
    line-height: 36px;
    padding: 77px 0 0 52px;
    margin-bottom: 25px;
    align-self: auto;
    width: 270px;
    text-align: left;
    position: relative;
  }

  .services__title--little::before {
    content: "";
    position: absolute;
    width: 275px;
    height: 215px;
    top: 81px;
    left: 446px;
    background: url(../img/cat-icon-t.svg) no-repeat;
  }

  .services__title--big::before {
    content: "";
    position: absolute;
    width: 275px;
    height: 215px;
    top: 91px;
    left: 412px;
    background: url(../img/panter-icon-t.svg) no-repeat;
  }

  .services__title--big {
    margin: 0 0 24px 0;
  }

  .services__description {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-left: 52px;
    margin-bottom: 50px;
    width: 380px;

    &::after {
      display: none;
    }
  }

  .services__description br {
    display: block;
  }

  .services__link {
    font-size: 20px;
    line-height: 30px;
    padding-left: 52px;
    margin: 0 0 58px 0;
  }

  .services__link::before {
    content: "";
    top: 10px;
    left: 185px;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/line-icon.svg) no-repeat 0 0;
  }
}