.social {

}

.social-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social-list__item {

}

.social-list__link {

}

.social-list__svg {
  fill: black;
}

.social-list__link:hover .social-list__svg {
  fill: red;
}

.social-list__link--vk {

}

.social-list__link--inst {

}

.social-list__link--fb {

}