@font-face {
  font-family: 'Oswald';
  font-style: normal;
  src: local(''),
       url('../fonts/oswaldregular.woff2') format('woff2'),
       url('../fonts/oswaldregular.woff') format('woff');
}

@font-face {
  font-family: 'Oswald-m';
  font-style: normal;
  src: local(''),
       url('../fonts/oswaldmedium.woff2') format('woff2'),
       url('../fonts/oswaldmedium.woff') format('woff');
}