.page {
  height: 100%;
}

.page-body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background: $basic-white;
  background-position: top center;
  color: $basic-black;

  min-height: 100%;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 280px;
  margin: 0 auto;
}
