 // Global
@import "global/variables.scss";
@import "global/global.scss";
@import "global/fonts.scss";

// Blocks
@import "blocks/radio.scss";
@import "blocks/button.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/page.scss";
@import "blocks/page-body.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";
@import "blocks/promo.scss";
@import "blocks/services.scss";
@import "blocks/instruction.scss";
@import "blocks/example.scss";
@import "blocks/slider.scss";
@import "blocks/range-controls.scss";
@import "blocks/location.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copiright.scss";
@import "blocks/map.scss";



@import "blocks/main-form.scss";

