 // Global

@import "global/variables.scss";
@import "global/global.scss";
@import "global/fonts.scss";

// Blocks
@import "blocks/visually-hidden.scss";
@import "blocks/page.scss";
@import "blocks/page-body.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";
@import "blocks/promo.scss";
